body {
    background: #ededed;
}

header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}

footer {
    background: #d9d9d9;
    margin-top: 20px;
}

.ink-navigation .breadcrumbs li:first-child a {
    padding-left: 0;
}
